<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">틀에 박힌 전문 교재 No! 보지도 않는 인강 No! Only Real English!</h2>
                <hr class="light">
                <p class="text-faded">
                    영어 학습 방식이 덜 체계적일 수 있습니다.<br>
                    필리핀 선생님의 발음이 완벽한 미국식 발음이 아닐 수 있습니다.<br>
                    하지만!! 진짜 영어는 완벽한 체계와 완벽한 발음에서 나오는 것이 아닙니다.<br>
                    대한민국 12년의 체계적인 영어 공부와 반기문 총장의 영어 발음은 우리의 말을 입증합니다!<br>
                    아이가 처음으로 언어를 배울때 처럼 아무말이라도 지속적으로 말 해야지만 늘 수 있습니다.<br>
                    Real English는 기존 시장에서 거품을 뺀 합리적인 가격으로 여러분의 진짜 영어 공부를 도와드립니다.
                </p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
