<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Real English with Philippines Friends!</h1>
            <hr>
            <p> 영어 1도 못하던 토종 한국인이 미국에서 일도 하고 유학까지!<br>
                프리토킹의 실력자가 될 수 있었던 비결은 영어로 말하는 훈련이었습니다.<br>
                영알못이 미국을 간다고 어느날 갑자기 영어를 잘 할 수 있는 것은 아닙니다.<br>
                영어로 말을 하는 시간이 많아지면서 영어실력이 늘어난 것이지요.<br>
                합리적인 가격의 Real Englsih를 통해 필리핀 영어 선생님들과 영어 실력을 향상시켜보세요!<br>
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">자세히 알아보기</a>
        </div>
    </div>
</header>
