<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#tuition" class="portfolio-box page-scroll" >
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="tuition">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                타사 비교 50%이상 저렴한 가격!
                            </div>
                            <div class="project-name">
                                수업료
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/channel/UCx7E9J67tVO1Cz0FhS1uVbA" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="teachers">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                원하는 선생님을 선택하세요!
                            </div>
                            <div class="project-name">
                                선생님 소개
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="schdule">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                지금 즉시 신청 가능한 시간만 보이지만 다른 시간대는 문의 바랍니다.
                            </div>
                            <div class="project-name">
                                수업 가능 시간표
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="events">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                현재 진행중인 이벤트
                            </div>
                            <div class="project-name">
                                이벤트
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="comments">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                수강 후기
                            </div>
                            <div class="project-name">
                                수강 후기
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="refund policy">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                다른 기타 문의사항은 카카오톡으로 연락주세요.
                            </div>
                            <div class="project-name">
                                환불 규정
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
