<section class="container" id="process">
  <h3 class="color-title">
    수업 신청 및 관련 용어 정리
  </h3>
  용어 설명<br>
  - 토픽: 비기너, 프리 토킹, 비즈니스 영어, 시험용 영어로 구분되어 있습니다.<br>
  - 수업 시간: 각 시간마다 1교시(xx:00 - xx:20), 2교시(xx:20 - xx:40), 3교시(xx:40 - xx:00)로 구분되어 있습니다.<br>
  <br>
  수업 신청 방식<br>
  1. 주말반(주 2회), 평일반(주3회, 주5회) 중에서 자신이 하고자 하는 반을 정한다.<br>
  2. 가능한 시간대를 아래 시간표를 통해 확인해본다. 고정된 시간이 아닌 가능한 시간 어느 시간이든 선택할 수 있다.<br>
  3. 자신이 하고자 하는 시간대 안에서 몇교시가 열려 있는지 카톡, 플친 문의를 통해 확인한다.<br>
  4. 각 교시에서 진행될 수 있는 토픽이 자신이 원하는 토픽인지 확인하고 무료 수업을 신청한다.<br>
  5. 무료 신청 후 수업을 계속할지 안 할지 결정한다.<br>
  6. 만약 자신이 원하는 시간, 원하는 선생님이 있다면 문의를 통해 수업 시작 가능 일자를 무료로 예약 한다.<br>
  <br>
</section>  