<section class="bg-primary" id="tuition">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-normal">
          Real English의 교육 철학에 따라 수업은 20분씩 진행됩니다.<br>
          진짜 영어는 10분으로는 너무 짧고 최소 20분 이상, 몰아서 하지 말고 매일 꾸준히 해야지 실력 향상이 확실합니다.<br>
          하지만 평일에 상황이 여의치 않은 분들을 위해 주말반을 따로 개설했습니다.<br>
          혹여나 20분 이상 40분씩 하고 싶으신 분들, 다른 플랜으로 수업을 진행하고 싶은 분은 따로 문의주세요!<br>
          주 2회(주말반) : xx원<br>
          주 3회(평일반) : xx원<br>
          주 5회(평일반) : xx원<br>
        </p>
      </div>
    </div>
  </div>
</section>