<section class="bg-primary" id="tuition" style="padding:50px 50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-normal">
          Real English의 교육 철학에 따라 모든 수업은 20분으로 진행됩니다.<br>
          <br>
          주 2회(주말반) : 5만원<br>
          주 3회(평일반) : 6만원<br>
          주 5회(평일반) : 8만원<br>
          <br>
          1달 / 20일 기준<br>
          <br>
          1회 무료 수업이 제공됩니다.<br>
          무료 수업 진행 후 수업을 들을지 결정하셔도 됩니다.<br>
          <br>
          다른 플랜을 원하시면 별도로 문의주시기 바랍니다.
        </p>
      </div>
    </div>
  </div>
</section>